<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Documentos</title>
</head>
<body>
    <h1>Lista de Documentos</h1>
    <ul>
        {% for document in documents %}
        <li>ID: {{ document.id }}, Variable: {{ document.variable }}, Valor: {{ document.value }}, Unidad: {{ document.unit }}, Lugar: {{ document.place }}, Fecha: {{ document.dateTime }}</li>
        {% endfor %}
    </ul>
</body>
</html>
