<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="ruta_a_tu_imagen" width="45" height="45" alt="">
        Asr Seguridad
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://35.224.185.71:8000/documentos/">Documentos Cachones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://35.224.185.71:8000/tipos/">Tipos Cachones</a>
            </li>
        </ul>
    </div>
</nav>
