<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>ISIS2503</title>
        {% endblock %}
    </head>
    <body>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Fvector-gratis%2Fseguridad-datos-global-seguridad-datos-personales-ilustracion-concepto-linea-seguridad-datos-ciberneticos-seguridad-internet-o-privacidad-proteccion-informacion_12953630.htm&psig=AOvVaw31KV3Atzjy3i7rBnfNjR5N&ust=1716823436179000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJiLrOvPq4YDFQAAAAAdAAAAABAJ" width="45" height="45" alt="">
                </a>
            </nav>

          <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="/">
                  Asr Seguridad
              </a>
          </nav>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/documentos/">documentos cachones </a>
                </li>
            </ul>

          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tipos/">tipos cachones </a>
                </li>
            </ul>

          </div>
        </nav>


        <main>
          <div class="container" style="min-height: 580px;">
          {% block content %}
          {% endblock %}
          </div>
        </main>

    </body>


</html>